extends layout

block content
  h1 Colorpic
  p Get colored images as placeholders in your development code
  - var html = `<img src="https://colorpic.herokuapp.com/500/300/green" alt="Green Pic">`
  pre.code.
     #{html}

  pre.code.
    .bluish {
      height: 500px;
      width: 350px;
      background-image: url(https://colorpic.herokuapp.com/500/350/458D96);
    }