html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: #00b7ff;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: sans-serif;
  letter-spacing: 0.1em;
}

.description {
  font-family: "Courier New", Courier, monospace, sans-serif;
  font-weight: 800;
}

.code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.bluish {
  height: 200px;
  width: 200px;
  background-image: url(https://colorpic.now.sh/200/200/458D96);
}
